$text-color-primary: #fff;
$text-color-secondary: #222;
$info-color: #1eacc7;
$info-color_2: #1CA8C3;
$info-color_3: #1FBAD6;
$info-color-danger: #FF5656;
$text-color-muted: #202020;
$text-on-light: #070716;
$text-color-subfooter: #999999;
$font-family: 'Roboto', sans-serif;
$background-color-nav: #212121;
$background-color-transparent: rgba(0, 0, 0, .6);
$background-color-dark: #000;
$background-color-info: $info-color;
